# MkDocs
site/
.cache/

# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Editors
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
